.invention{
    margin-top: 6em;
}
.content {
    display: flex; flex-direction: column; margin: 0 auto; gap: 2em;
}
.content a{
    font-size: large;
    cursor: pointer;
}
.information {
    justify-content: center;

}
.inf {
    display: flex; flex-direction: row;
    width: 80%; height: 10em; padding: 2em;
    margin: 3em auto; text-align: left; 
    border: 0.1vw solid blue; border-radius: 0.5em;
}
.img_inf {
    width: 50%; height: 10em;
    background-position: center;
    background-size: 100%; background-repeat: no-repeat;
}
.neiro_img {
    background-image: url(../src/images/neiropilot.webp);
}
.zenit_img{
    background-image: url(../src/images/zenit.webp);
}
.eco_img{
    background-image: url(../src/images/ecosfera.webp);
}